*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2f2f2;
}

.container{
    width: 400px;
    background: #fff;
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

input[type="text"]{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

input::placeholder{
    text-align: center;
    color: #ccc;
}

button {
            background-color: #2575fc;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 6px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #1b5bbf;
        }
        #output {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
        }